body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f8ff;
    background: url('per.gif') repeat;
    
}





.card {
    background-color: rgb(32, 169, 228);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(92, 5, 60, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    width: 300px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

header h1 {
    margin: 0;
    font-size: 24px;
    animation: fadeInDown 1s;
}

label {
    font-weight: bold;
}

input[type="date"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    transition: box-shadow 0.3s ease;
}

input[type="date"]:focus {
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

#currentAge {
    margin-top: 20px;
    font-size: 18px;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
